<div class="container mt-4">
  <h1 class="mb-4">Dashboard da Secretária</h1>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card text-center bg-info text-white mb-3">
        <div class="card-body">
          <h5 class="card-title">Pacientes Cadastrados</h5>
          <p class="card-text fs-2 fw-bold">120</p>
          <a
            [routerLink]="['/secretaria/pacientes']"
            class="btn btn-light btn-sm mt-2"
            >Gerenciar Pacientes</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-center bg-info text-white mb-3">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text fs-2 fw-bold">Adicionar Cliente</p>
          <a
            [routerLink]="['/secretaria/clientes/adicionar']"
            class="btn btn-light btn-sm mt-2"
            >Criar Cliente</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-center bg-warning text-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Todas as consultas</h5>
          <p class="card-text fs-2 fw-bold">15</p>
          <a
            [routerLink]="['/secretaria/consultas']"
            class="btn btn-light btn-sm mt-2"
            >Ver todas as Consultas</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-center bg-warning text-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Consultas agendadas</h5>
          <p class="card-text fs-2 fw-bold">15</p>
          <a
            [routerLink]="['/secretaria/consultas']"
            class="btn btn-light btn-sm mt-2"
            >Ver Agendamento</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-center bg-success text-white mb-3">
        <div class="card-body">
          <h5 class="card-title">Adicionar Consulta</h5>
          <p class="card-text fs-2 fw-bold">8</p>
          <a
            [routerLink]="['/secretaria/consultas/adicionar']"
            class="btn btn-light btn-sm mt-2"
            >Ver Consultas</a
          >
        </div>
      </div>
    </div>
  </div>
</div>