<div class="dashboard container my-5">
  <h2>Todas as Consultas</h2>

  @if (isLoading) {
    <div class="alert alert-info mt-3">Carregando consultas...</div>
  }

  @if (error) {
    <div class="alert alert-danger mt-3">{{ error }}</div>
  }

  <div class="row">
    <div class="col-12">
      @if (!isLoading && !error && consultas.length > 0) {
        <table class="table table-striped mt-3">
          <thead class="">
            <tr class="">
              <th class="">ID</th>
              <th class="">Paciente</th>
              <th class="">Médico</th>
              <th class="">Especialidade</th>
              <th class="">Data</th>
              <th class="">Horário de Início</th>
              <th class="">Horário de Fim</th>
              <th class="">Status</th>
              <th class="">Ações</th>
            </tr>
          </thead>
          <tbody>
            @for (consulta of consultas; track consulta.id) {
              <tr class="">
                <td>{{ consulta.id }}</td>
                <td>{{ consulta.paciente.cliente.nome }}</td>
                <td>{{ consulta.medico.usuario.funcionario.nome }}</td>
                <td>{{ consulta.medico.especialidade }}</td>
                <td>{{ consulta.data_consulta | date:'dd/MM/yyyy' }}</td>
                <td>{{ consulta.hora_inicio | slice:0:5 }}</td>
                <td>{{ consulta.hora_fim | slice:0:5 }}</td>
                <td>
                  <span class="badge rounded-pill text-uppercase p-2" [ngClass]="{
                    'bg-warning text-dark': consulta.status === 'agendada',
                    'bg-success': consulta.status === 'concluida',
                    'bg-danger': consulta.status === 'cancelada',
                    'bg-dark': consulta.status === 'finalizada'
                  }">
                    {{ consulta.status }}
                  </span>
                </td>
                <td class="">
                    <a class="btn btn-info me-2 btn-sm" [routerLink]="[ consulta.id]" title="Ver Detalhes">
                        <i class="bi bi-info-circle"></i>
                        <span class="ms-2">Detalhes</span>
                    </a>
                    @if (isAdministradorRoute) {
                      @if (consulta.status != 'cancelada' ) {
                        @if (consulta.status == 'concluida') {
                          <a class="btn btn-success btn-sm me-2 align-items-center" [routerLink]="['/administrador/consultas', consulta.id, 'finalizar']" title="Finalizar Consulta">
                            <i class="bi bi-clipboard2-check"></i>
                            <span class="ms-2">Finalizar</span>
                          </a>
                        } @else if (consulta.status == 'agendada') {
                          <a class="btn btn-warning btn-sm me-2 align-items-center" [routerLink]="['/administrador/consultas', consulta.id, 'editar']" title="Editar Consulta">
                            <i class="bi bi-pencil"></i>
                            <span class="ms-2">Editar</span>
                          </a>
                          <a class="btn btn-danger btn-sm" [routerLink]="[ consulta.id]" title="Cancelar Consulta">
                            <i class="bi bi-trash"></i>
                            <span class="ms-2">Cancelar</span>
                          </a>
                        }
                      }
                    }
                </td>
              </tr>
            }
          </tbody>
        </table>

        <!-- Adição da Paginação -->
        @if (pagination && pagination.links.length > 10) {
          <nav aria-label="Navegação da tabela de consultas agendadas" class="mt-4">
            <ul class="pagination justify-content-center">
              @for (link of pagination.links; track $index) {
                <li class="page-item" [ngClass]="{'active': link.active, 'disabled': !link.url}">
                  <button
                    type="button"
                    class="page-link"
                    (click)="onPageChange(link.url)"
                    [disabled]="!link.url">
                    @if (link.label === '&laquo; Previous') {
                      <span aria-hidden="true">&laquo; Anterior</span>
                    } @else if (link.label === 'Next &raquo;') {
                      <span aria-hidden="true">Próximo &raquo;</span>
                    } @else {
                      {{ link.label }}
                    }
                  </button>
                </li>
              }
            </ul>
          </nav>
        }
      } @else if (!isLoading && !error) {
        <div class="alert alert-warning mt-3">Nenhuma consulta encontrada.</div>
      }
    </div>
  </div>

  @if (isSecretariaRoute) {
    <a class="btn btn-secondary mt-4" [routerLink]="['/secretaria']">Voltar</a>
  } @else {
    <a class="btn btn-secondary mt-4" [routerLink]="['/medico']">Voltar</a>
  }

</div>

  <!-- Modal de Confirmação de Cancelamento -->
  @if (showCancelModal) {
  <div class="modal d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar Cancelamento</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeCancelModal()"></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja cancelar esta consulta? Esta ação não pode ser desfeita.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeCancelModal()">Não</button>
          <button type="button" class="btn btn-danger" (click)="confirmCancel()">Sim, Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
  }