<div class="dashboard container my-5">
  <h1 class="mb-5">Dashboard da Administrador</h1>

  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 mb-3">
      <div class="card text-center border-success border-4 h-100 cardFeature p-5">
        <div class="card-body">
          <h5 class="card-title fs-3 fw-bold">Dashboard</h5>
          <a
            [routerLink]="['./estatisticas']"
            class="btn btn-outline-success rounded-3 fs-5 btn-sm"
            >Ver Historico de Consultas</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
      <div class="card text-center bg-info text-dar p-3 cardFeature">
        <div class="card-body">
          <h5 class="card-title fs-3 fw-bold">Todos os Funcionarios</h5>
          <p>
              <i class="bi bi-person-vcard display-5"></i>
          </p>
          <a
            [routerLink]="['/administrador/funcionarios']"
            class="btn btn-outline-light rounded-3 text-dark border-dark fs-5 btn-sm"
            >Ver Consultas</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
      <div class="card text-center bg-primary text-white p-3 cardFeature">
        <div class="card-body">
          <h5 class="card-title fs-3 fw-bold">Todos os Pacientes</h5>
          <p>
            <i class="bi bi-person-rolodex display-5"></i>
          </p>
          <a
            [routerLink]="['/administrador/pacientes']"
            class="btn btn-outline-light rounded-3 fs-5 btn-sm"
            >Ver Prontuarios</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
      <div class="card text-center bg-secondary text-white p-3 cardFeature">
        <div class="card-body">
          <h5 class="card-title fs-3 fw-bold">Todos os Responsaveis</h5>
          <p>
            <i class="bi bi-person-lines-fill display-5"></i>
          </p>
          <a
            [routerLink]="['/administrador/responsaveis']"
            class="btn btn-outline-light rounded-3 fs-5 btn-sm"
            >Criar Consulta</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
      <div class="card text-center bg-success text-white p-3 cardFeature">
        <div class="card-body">
          <h5 class="card-title fs-3 fw-bold">Todas as Consultas</h5>
          <p>
            <i class="bi bi-files-alt display-5"></i>
          </p>
          <a
            [routerLink]="['/administrador/consultas']"
            class="btn btn-outline-light rounded-3 fs-5 btn-sm"
            >Criar Consulta</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 mb-3">
      <div class="card text-center bg-warning p-3 cardFeature">
        <div class="card-body">
          <h5 class="card-title fs-3 fw-bold">Todos os Pagamentos</h5>
          <p>
            <i class="bi bi-cash-coin display-5"></i>
          </p>
          <a
            [routerLink]="['/administrador/pagamentos']"
            class="btn btn-outline-light rounded-3 fs-5 btn-sm border-dark text-dark"
            >Ver Pagamentos</a
          >
        </div>
      </div>
    </div>

  </div>
</div>