<div class="dashboard container py-5">
  <h1 class="fs-2 fw-bold mb-4">Dashboard da Administrador</h1>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
      <div class="card text-center border-success border-2 cardEstatistic shadow-lg">
        <div class="card-body">
          <h5 class="card-title fs-2 fw-bold position-relative z-2 text-success">Estatisticas</h5>
          <div class="position-absolute w-100 top-0 start-0">
            <app-estatisticas-pacientes></app-estatisticas-pacientes>
          </div>
          <a
            [routerLink]="['./estatisticas']"
            class="btn btn-outline-success rounded-3 fs-5 btn-sm position-absolute bottom-0 start-50 translate-middle-x my-3 shadow-lg"
            >Ver Estatisticas
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
      <div class="card text-center bg-info text-dar p-3 cardFeature shadow-lg">
        <div class="card-body">
          <h5 class="card-title fs-3 fw-bold">Todos os Funcionarios</h5>
          <p>
              <i class="bi bi-person-vcard display-5"></i>
          </p>
          <a
            [routerLink]="['/administrador/funcionarios']"
            class="btn btn-outline-light rounded-3 text-dark border-dark fs-5 btn-sm shadow-lg"
            >Ver Funcionarios</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
      <div class="card text-center bg-primary text-white p-3 cardFeature shadow-lg">
        <div class="card-body">
          <h5 class="card-title fs-3 fw-bold">Todos os Pacientes</h5>
          <p>
            <i class="bi bi-person-rolodex display-5"></i>
          </p>
          <a
            [routerLink]="['/administrador/pacientes']"
            class="btn btn-outline-light rounded-3 fs-5 btn-sm shadow-lg"
            >Ver Pacientes</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
      <div class="card text-center bg-secondary text-white p-3 cardFeature shadow-lg">
        <div class="card-body">
          <h5 class="card-title fs-3 fw-bold">Todos os Responsaveis</h5>
          <p>
            <i class="bi bi-person-lines-fill display-5"></i>
          </p>
          <a
            [routerLink]="['/administrador/responsaveis']"
            class="btn btn-outline-light rounded-3 fs-5 btn-sm shadow-lg"
            >Ver Responsaveis</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
      <div class="card text-center bg-success text-white p-3 cardFeature shadow-lg">
        <div class="card-body">
          <h5 class="card-title fs-3 fw-bold">Todas as Consultas</h5>
          <p>
            <i class="bi bi-files-alt display-5"></i>
          </p>
          <a
            [routerLink]="['/administrador/consultas']"
            class="btn btn-outline-light rounded-3 fs-5 btn-sm shadow-lg"
            >Ver Consulta</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
      <div class="card border-0 text-center bg-warning p-3 cardFeature shadow-lg">
        <div class="card-body">
          <h5 class="card-title fs-3 fw-bold">Todos os Pagamentos</h5>
          <p>
            <i class="bi bi-cash-coin display-5"></i>
          </p>
          <a
            [routerLink]="['/administrador/pagamentos']"
            class="btn btn-outline-light rounded-3 fs-5 btn-sm border-dark text-dark shadow-lg"
            >Ver Pagamentos</a
          >
        </div>
      </div>
    </div>

  </div>
</div>