<div class="dashboard container my-5">
  <h2>Adicionar Novo Cliente</h2>
  <p class="lead">Selecione o tipo de cliente que você deseja adicionar.</p>

  <div class="row ">
    <div class="col-lg-6 bg-primary h-100">
      <button class="btn btn-primary btn-lg" (click)="navigateTo('/secretaria/clientes/adicionar/paciente')">
        Adicionar Paciente
      </button>
    </div>

    <div class="col-lg-6 bg-primary-subtle">
      <button class="btn btn-secondary btn-lg" (click)="navigateTo('/secretaria/clientes/adicionar/responsavel')">
        Adicionar Responsável
      </button>
    </div>
  </div>
</div>