<div class="dashboard container my-5">
  <h2>Adicionar Novo Cliente</h2>
  <p class="lead">Selecione o tipo de cliente que você deseja adicionar.</p>

  <div class="row">
    <div class="col-lg-6">
      <div class="card bg-primary align-items-center p-5 text-white">
        <h5 class="card-title fs-1">Adicionar Paciente</h5>
        <i class="bi bi-person-add display-1 py-5"></i>
        <button class="btn btn-outline-light btn-lg" (click)="navigateTo('/secretaria/adicionar/paciente')">
          Adicionar Paciente
        </button>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card bg-secondary align-items-center p-5 text-white">
        <h5 class="card-title fs-1">Adicionar Responsavel</h5>
        <i class="bi bi-person-plus-fill display-1 py-5"></i>
        <button class="btn btn-outline-light btn-lg" (click)="navigateTo('/secretaria/adicionar/responsavel')">
          Adicionar Responsável
        </button>
      </div>
    </div>
  </div>

  <a class="btn btn-secondary mt-4" [routerLink]="['../']">Volta para Dashboard</a>
</div>